@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@import "tailwindcss";
@import "tailwindcss-animated";

@font-face {
	font-family: "SangBleu";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url("/fonts/SangBleu/SangBleuKingdom-Air-WebS.woff2") format("woff2");
}

@font-face {
	font-family: "SangBleu";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("/fonts/SangBleu/SangBleuKingdom-Light-WebS.woff2") format("woff2");
}

@font-face {
	font-family: "SangBleu";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/SangBleu/SangBleuKingdom-Regular-WebS.woff2") format("woff2");
}

@font-face {
	font-family: "SangBleu";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/SangBleu/SangBleuKingdom-Medium-WebS.woff2") format("woff2");
}

@font-face {
	font-family: "SangBleu";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("/fonts/SangBleu/SangBleuKingdom-Bold-WebS.woff2") format("woff2");
}

/* EuclidSquare */

@font-face {
	font-family: "EuclidSquare";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("/fonts/EuclidSquare/EuclidSquare-Light-WebS.woff2") format("woff2");
}


@font-face {
	font-family: "EuclidSquare";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/EuclidSquare/EuclidSquare-Regular-WebS.woff2") format("woff2");
}

@font-face {
	font-family: "EuclidSquare";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/EuclidSquare/EuclidSquare-Medium-WebS.woff2") format("woff2");
}

@font-face {
	font-family: "EuclidSquare";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/EuclidSquare/EuclidSquare-Semibold-WebS.woff2") format("woff2");
}

@font-face {
	font-family: "EuclidSquare";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("/fonts/EuclidSquare/EuclidSquare-Bold-WebS.woff2") format("woff2");
}

@theme {
	--font-sans: "EuclidSquare", sans-serif;
	--font-display: "SangBleu", sans-serif;
	--color-primary: #231f20;
}

::selection {
	@apply bg-primary text-white;
}

[data-reveal-on-scroll] {
	opacity: 0;
	transform: translateY(50px);
	visibility: hidden;
}
